@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

body{
    background-color: rgb(53, 53, 53);
    color:#fff;
}

.menu {
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #8f8989;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    padding-left: 30px;
}

.menu ul .Noclick a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #fff;
    font-size: 15pt;
}

.menu ul .click a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #fff;
    font-size: 15pt;
}

.click a{
    background-color: #ddd;
    border-bottom: 1px solid #000;
    border-radius: 10%;
}

.menu ul .Noclick a:hover {
    background-color: #ddd;
    color:#000;
    border-bottom: 1px solid #000;
    border-radius: 10%;
}

.menu ul li a:active{
    color:#000;
}